<div class="review">
  <h4><%= review.title %></h4>
  <h5><%= review.author.username %></h5>
  <p><%= review.content %></p>
  <a href="/movie/<%= review.movie.id %>"><%= review.movie.title %></a>
</div>